@import "bootstrap/bootstrap.scss";

html {
  font-size: 20px;
  background-color: $gray-100;
}

body {
  background-color: $gray-100;
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

.header-link{
  font-weight:500;
}
