@import "bootstrap/bootstrap.scss";

html {
  font-size: 20px;
  background-color: $gray-100;
}

body {
  background-color: $gray-100;
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

@include media-breakpoint-up(md) {
  body {
    margin-left: 40px;
    margin-right: 40px;
  }

  .header-margin {
    margin-top: 32px;
  }
}

@include media-breakpoint-down(md) {
  .header-margin {
    margin-top: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.muted-link{
  color:$gray-600;
}

.top-item {
  margin-right: 25px;
}

.lead {
  letter-spacing: -1px;
}

.header-link{
  font-weight:500;
}


////FULL SCREEN MENU
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: $primary; /* Black fallback color */
  background-color: rgba($primary, 0.95); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: $white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: $blue;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}