@page "/contact-us"
<br />
<h1 class="text-center">☎ Contact Us</h1>
<hr />

<div class="row m-0">
  <div class="col">
    <p>
      <strong>Support</strong>
      <br />
      <a href="mailto:support@helpimstuckinatimeloop.com">support@helpimstuckinatimeloop.com</a>
    </p>

    <p>
      <strong>Press</strong>
      <br />
      <a href="mailto:press@helpimstuckinatimeloop.com">press@helpimstuckinatimeloop.com</a>
    </p>

    <p>
      <strong>General</strong>
      <br />
      <a href="mailto:general@helpimstuckinatimeloop.com">general@helpimstuckinatimeloop.com</a>
    </p>
  </div>
</div>
