@page "/"


<div class="text-center">
  <img class="big-svg" src="/img/logo/Logo.svg" />

  <h1>Help! I'm Stuck In A Time Loop!</h1>

  <h3>Count of users that have passed loop</h3>
  <div>
    <ValidatedUsersCount />
  </div>

  <h3>Previous Challenge Value</h3>
  <div>
    <CurrentChallengeValue />
  </div>

</div>
