@page "/press"

  <br />
  <h1 class="text-center">🎥 Press</h1>
  <hr />

  <div class="row m-0">
    <div class="col">
      <p>
        <strong>Email</strong>
        <br />
        <a href="mailto:press@helpimstuckinatimeloop.com">press@helpimstuckinatimeloop.com</a>
      </p>
    </div>
  </div>

  @code {

  }
