@page "/time"

<br />
<h1 class="text-center">⌚ Time</h1>
<hr />

<div class="row m-0">
  <div class="col">
    <p>
      BROWSER DATE: <ToLocal DateTime="testTime" Format="yyyy-mm-dd" />
    </p>
    <p>
      BROWSER TIME: <ToLocal DateTime="testTime" Format="shortTime" />
    </p>
    <p>
      BROWSER DEFAULT: <ToLocal DateTime="testTime" />
    </p>
    <p>
      UTC (RENDERED IN BROWSER): <ToLocal DateTime="testTime" Format="isoUtcDateTime" />
    </p>

    <BSButton OnClick="Update">Update</BSButton>
  </div>
</div>

@code {
  private DateTime testTime = DateTime.UtcNow;

  private void Update()
  {
    testTime = DateTime.UtcNow;
  }
}
