<div class="text-center">
  <br />
  <br />
  <br />
  <h1>
    ⏲ <br class="d-md-none" /> Stuck In a Time Loop? <span class="d-none d-md-inline">⏲</span>
    <br />
    <small>You've Come to the right spot!</small>
  </h1>
  <br />
  <br />
  <br />
</div>