<BSCard>
  <BSCard CardType="CardType.Body">
    <BSCard CardType="CardType.Title">🔍 How It Works</BSCard>
    <BSCard CardType="CardType.Text">
      <p>
        Post a message on our time loop message board by correctly guessing (or knowing 🤯) the next challenge.
      </p>
      <p>
        All challenges are pregenerated for the next 20 years to ensure they are deterministic.
      </p>
      <p>
        This site was made by <a href="https://dustingamester.com">Dustin Gamester</a> using
        <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Microsoft Blazor</a>.
      </p>
    </BSCard>
  </BSCard>
</BSCard>