@inherits LayoutComponentBase

  <AuthorizeView Roles="Admin">
    <div class="row" style="position:relative;height:0;z-index:100;">
      <div class="col">
        <p class="float-left"><a href="/">🏠 Home</a></p>
        <p class="float-right"><a href="/admin">🧙‍♂️ Admin</a></p>
      </div>
    </div>
  </AuthorizeView>

  <div class="page">
    <div class="main">
      <div class="content">
        <div class="row">
          <div class="col">
            @Body
          </div>
        </div>
      </div>
    </div>
  </div>
