@inherits LayoutComponentBase


<div class="row m-0" style="position:relative;height:0;z-index:100;">
  <div class="col header-link">
    <div class="float-left"><a href="/">Home</a></div>

    <div class="float-right">
      <form method="post" class="form-inline" action="Identity/Account/LogOut">
        <AuthorizeView Roles="Admin">
          <a href="/admin">🧙‍♂️ Admin</a>
        </AuthorizeView>
        <AuthorizeView>
          <Authorized>
            <button type="submit" class="nav-link btn btn-link header-link p-0 pl-3" style="text-decoration:underline;">Logout</button>
          </Authorized>
          <NotAuthorized>
            <a href="Identity/Account/Register">Register</a>
            <a class="ml-3" href="Identity/Account/Login">Log in</a>
          </NotAuthorized>
        </AuthorizeView>
      </form>
    </div>
  </div>
</div>

<div class="container flex-shrink-0">
  @Body
</div>

<footer class="footer mt-auto py-3">
  <div class="container text-center text-muted header-link">
    <a class="muted-link" href="/press">Press</a>
    <a class="muted-link ml-3" href="/contact-us">Contact Us</a>
  </div>
</footer>