<BSCard>
  <BSCard CardType="CardType.Body">
    <BSCard CardType="CardType.Title">Time Loop Tips</BSCard>
    <BSCard CardType="CardType.Text">
      <p>
        Some general information
      </p>
    </BSCard>
  </BSCard>
</BSCard>