@inject VerifiedTimeLoopService _timeLoopService

<div class="mega-number mb-3">@currentCount</div>

@code {
  private int currentCount = -1;

  private async Task UpdateCurrentCount()
  {
    currentCount = await _timeLoopService.GetVerifiedTimeLoopersCount();
  }

  protected override async Task OnInitializedAsync()
  {
    await UpdateCurrentCount();
  }
}

