@inject VerifiedTimeLoopService _timeLoopService
@inject AppStateService _state

@if (_state.TimeLoopUserCount >= 0)
{
  <div class="mega-number mb-3">@_state.TimeLoopUserCount</div>
}
else
{
  <div class="mega-number mb-3">-</div>
}

@code {
  private async Task UpdateCurrentCount()
  {
    _state.TimeLoopUserCount = await _timeLoopService.GetVerifiedTimeLoopersCount();
  }

  protected override async Task OnInitializedAsync()
  {
    await UpdateCurrentCount();
  }
}

@code {
  protected override void OnInitialized()
  {
    _state.OnChange += StateHasChanged;
  }

  public void Dispose()
  {
    _state.OnChange -= StateHasChanged;
  }
}