@inject VerifiedTimeLoopService _timeLoopService

<div class="mega-number mb-3">@currentCount</div>

@code {
  private string currentCount = "Loading...";

  private async Task UpdateCurrentCount()
  {
    var currentCountInt = await _timeLoopService.GetVerifiedTimeLoopersCount();
    currentCount = currentCountInt.ToString();
  }

  protected override async Task OnInitializedAsync()
  {
    await UpdateCurrentCount();
  }
}

